<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>הרשמה</h1>

            <div class="alert alert-success" *ngIf="success">
                <strong>נרשמת בהצלחה</strong>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>הרשמה נכשלה</strong>
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists">
                <strong>שם משתמש כבר קיים</strong>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
                <div class="form-group">
                    <label class="form-control-label" for="login">שם משתמש</label>
                    <input type="text" class="form-control" id="login" name="login" placeholder="Your username"
                           formControlName="login" #login>

                    <div *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('login')?.errors?.required">
                            יש להזין שם משתמש
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="password">סיסמא</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="New password"
                            formControlName="password">

                    <div *ngIf="registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('password')?.errors?.required">
                            יש להזין סיסמא
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary">הרשמה</button>
            </form>
        </div>
    </div>
</div>
