<nav class="navbar navbar-dark navbar-expand-md bg-dark">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
        <span class="logo-img"></span>
        <span class="navbar-title">BooksShop</span> <span class="navbar-version">{{ version }}</span>
    </a>
    <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
        <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <li *ngSwitchCase="true" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/orders" (click)="collapseNavbar()">
                    <span>
                        <span>מעקב הזמנות</span>
                    </span>
                </a>
            </li>
            <li *ngSwitchCase="true" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/basket" (click)="collapseNavbar()">
                    <span>
                        <span>סל קניות</span>
                    </span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                    <span>
                        <fa-icon icon="home"></fa-icon>
                        <span>מומלצים</span>
                    </span>
                </a>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="books-menu">
                    <span>
                        <span>
                            קטגוריות
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
                    <li>
                        <a class="dropdown-item" [routerLink]="['book/category', 'מתח']">
                            <span>מתח</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" [routerLink]="['book/category', 'פנטזיה']">
                            <span>פנטזיה</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" [routerLink]="['book/category', 'רומן']">
                            <span>רומן</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" [routerLink]="['book/category', 'עיון']">
                            <span>עיון</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" [routerLink]="['book/category', 'נוער']">
                            <span>נוער</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" [routerLink]="['book/category', 'ילדים']">
                            <span>ילדים</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <span>Administration</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
                    <li>
                        <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                            <span>User management</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                    <span>
                        <fa-icon icon="user"></fa-icon>
                        <span>
                            משתמש
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <span>התנתקות</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <span>התחברות</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" routerLink="account/register" routerLinkActive="active" (click)="collapseNavbar()">
                            <span>הרשמה</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
