.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 235px;
  height: 450px;
  justify-self: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
  text-align: center;
}

.book {
  display: inline-block;
  width: 235px;
  height: 400px;
  background-size: cover !important;
}

.card-wrapper {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-row-gap: 20px;
}

.book-data {
  font-size: large;
}
